# Base de données PostgreSQL
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/mediconnect_db"

# JWT
JWT_SECRET="votre_secret_jwt_tres_long_et_securise"
JWT_EXPIRES_IN="7d"

# Redis (pour BullMQ)
REDIS_HOST="localhost"
REDIS_PORT=6379

# App
PORT=3000
NODE_ENV=development
